{% extends "whatsonzambia/base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block content %}

<div class="row h-100 d-flex justify-content-center align-items-center">
  <div class="col-lg-6 ali">
    <div class="card mb-8">
      <h5 class="card-title h5 upper text-center">{{ object.ft_title }}</h5>
      <a href="#!"><img class="card-img-top" src="{{ object.ft_post_image.url }}" alt="..." /></a>  
      <div class="text-center">
    
      </div>
    
      <div class="fh5co-blog animate-box">
        <div class="blog-text">
          <h6 class="card-title h6 text-primary"><strong>Date:</strong> {{ object.ft_event_date }} |<strong> Time:</strong> {{ object.ft_event_time }}</h6> 
          <h5 class="card-title h5 text-secondary"><strong><u>{{ object.ft_event_day }}</u></strong></h5>
          <h6 class="card-title h6 text-primary"><strong> Venue:</strong> {{ object.ft_venue }}</h6>
          <h6 class="card-title h6 text-primary"><strong>Town/City:</strong> {{ object.ft_town }}</h6>
          <h6 class="card-title h6 text-secondary"><strong> Charges:</strong> {{ object.ft_charge }}</h6>
          <hr>
          {{ object.content }} 
          <ul class="stuff">
            <li>
              <form action="{% url 'feature_like' pk=feature.id %}" method="post">
                {% csrf_token %}
                {% if like_status %}
                  <button class="button button1" type="submit" name="feature-id" value="{{feature.id}}" >
                    Unlike <i class="fa fa-thumbs-o-down"></i>
                  </button>           
                {% else %}
                  <button class="button button1" type="submit" name="feature-id" value="{{feature.id}}" >
                    like <i class="fa fa-thumbs-o-up"></i>
                  </button>  
                {% endif %}
              </form>
            </li>
            <li>
              <a class="button button1" href="{% url 'whatsonzambia-home' %}">Go Back</a>
            </li>
          </ul>
          <hr>
          <span class="posted_on">
            {% if object.author == user %}
            Posted: {{ object.date_posted }} by <a href="#">{{ object.author }}</a>        
            <div class="">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'feature-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'feature-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock content %}